@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url("fundo-1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.inicio {
  flex-direction: column;
}

header {
  margin-bottom: -65px;
}

#cabeca {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

#cabeca img {
  width: 23px;
  height: 32px;
}

#cabeca h2 {
  font-size: 23px;
}

#cabeca p a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

main,
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
}

main h1 {
  margin-bottom: 5px;
  font-size: 32px;
}

main p {
  font-size: 17px;
  margin-top: -3px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: red;
  border: none;
  padding: 5px 15px;
  border-radius: 25px;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 21px;
}

button:hover {
  background-color: #ff4d4d;
}

section {
  background-image: url("fundo-1.jpg");
  background-size: cover;
  padding: 20px;
  text-align: center;
}

section img {
  width: 250px;
  height: 150px;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.284);
  border-radius: 5px;
}

.localifpi {
  background-color: rgba(255, 255, 255, 0.475);
  border-radius: 15px;
  box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.284);
  padding: 20px;
}

.sobre {
  background-color: rgba(255, 255, 255, 0.475);
  border-radius: 15px;
  box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.284);
  padding: 20px;
}

footer {
  background-color: rgb(29, 84, 0);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
}
