@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
}

.inicio {
    flex-direction: column;
    background: linear-gradient(to top, #a0f681, #FFFFFF);
    min-height: auto;
    overflow: visible;
    flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

header img {
  width: 23px;
  height: 32px;
}

header h2 {
  font-size: 23px;
}

header p a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.localifpi-logo {
  color: black;
  font-size: 20px;
}

.localifpi-logo img {
  width: 17px;
  height: auto;
  margin-top: 3px;
  border: none;
  padding: 0 3px;
}

main h1 {
  margin-bottom: -20px;
  font-size: 40px;
  color: #103300;
  margin-top: -15px;
}

main h2 {
  font-size: 25px;
  color: #003103;
}

main p {
  font-size: 13px;
  color: #0F2A00;
  margin: -10px 0 20px 0;
  padding: 10px;
}

button {
  background-color: #006200;
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 70px;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 21px;
}

button:hover {
  background-color: #009000;
}

.inicio .fatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fatos h2 {
  font-size: 30px;
  font-weight: bold;
  color: #003103;
  margin-bottom: -5px;
}

.fatos p {
  font-size: 15px;
  color: #003103;
  padding: 0 5px;
  width: 300px;
}

.card {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card4 {
  margin-bottom: 90px;
}

.entrada1,
.entrada2,
.baoba {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-btn {
  background-color: white;
  color: black;
  border-radius: 7px;
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  z-index: 3;
  cursor: pointer;
  border: none;
  right: 55px;
}

.toggle-btn:hover {
  background-color: #f0f0f0;
}

.menos {
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  right: 130px;
}

.menos:hover {
  background-color: #00000052;
}

.card1 .menos {
  bottom: -60px;
}

.card4 .menos {
  bottom: -80px;
}

.sobre {
  background-color: #075100;
  width: 300px;
  border-radius: 30px;
  text-align: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.entrada1-sobre {
  top: 100px;
}

.entrada2-sobre {
  top: 100px;
}

.baoba-sobre {
  top: 50px;
}

.baoba-sobre h2 {
  font-size: 20px;
  width: 150px;
  background-color: #102500;
  color: #dfffc9;
  margin: 10px auto;
  padding: 5px;
  border-radius: 8px;
}

.sobre.visible {
  opacity: 1;
  transform: translateY(0);
}

.sobre p {
  color: white;
  font-size: 13px;
  padding: 15px;
  margin: 0;
}

.locais {
  text-align: center;
  margin-bottom: 15px;
}

.card3-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.card3 {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200px;
  gap: 16px;
}

.card3 li {
  right: 5%;
  position: relative;
  overflow: hidden;
  flex: 0 0 80px;
  cursor: pointer;
  border-radius: 10px;
  border: 1.2px solid #eee;
  box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.4), -2px -5px 10px rgba(0, 0, 0, 0.1);
}

.card3 li img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card3 li,
.card3 li img {
  transition: 0.3s;
}

.card3 li .card3-item {
  transition: 1.5s;
}

.card3 span {
  text-align: center;
  width: 71%;
}

.card3 h2 {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 3px;
  white-space: nowrap;
  color: #adffb1;
  background-color: #003103;
  padding: 5px;
  border-radius: 5px;
}

.card3 li .card3-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: white;
  padding: 15px;
  background: 
  linear-gradient( 0deg, rgb(0 0 0 / 70%) 10%, rgb(255 255 255 / 0%) 100% );
  opacity: 0;
  visibility: hidden;
}

.card3:hover {
  gap: 10px;
}

.card3 li .card3-item span {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 0px;
  translate: -50%;
  scale: 0.85;
  visibility: hidden;
  opacity: 0;
}

.card3 li:hover {
  flex: 0 1 260px;
  scale: 1.1;
  z-index: 10;
  opacity: 1;
}

.card3 li:hover .card3-item {
  opacity: 1;
  visibility: visible;
}

.card3 li:hover span {
  scale: 1;
  opacity: 1;
  visibility: visible;
}

footer {
  background-color: #022C00;
  color: white;
  text-align: center;
  padding: 20px;
}

footer h3 {
  color: #BAE599;
  margin: 0;
}

.links-f {
  display: flex;
  justify-content: space-between;
}

.exp-mapa {
  font-size: 10px;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.exp-mapa a,
.exp-mapa a:visited {
  text-decoration: none;
  color: #0F2A00;
}

.exp-mapa img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.login {
  font-size: 10px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.login a,
.login a:visited {
  text-decoration: none;
  color: white;
}

.login img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.site {
  font-size: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.site a,
.site a:visited {
  text-decoration: none;
  color: white;
}

.site img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.linha {
  background-color: white;
  width: 93%;
  height: 2px;
  margin: auto;
}

footer p {
  font-size: 12px;
  color: #BAE599;
  margin-top: 15px;
}




/* Media Queries */


/** NOTEBOOK **/

@media only screen and (min-width: 992px) {

  header img {
    width: 40px;
    height: 47px;
  }

  header h2 {
    font-size: 30px;
  }

  header p a {
    font-size: 20px;
  }

  .localifpi-logo {
    font-size: 30px;
  }

  .localifpi-logo img {
    width: 20px;
  }

  main h1 {
    font-size: 60px;
  }

  main h2 {
    font-size: 35px;
  }

  main p {
    font-size: 25px;
    width: 70%;
  }

  button {
    width: 250px;
    height: 50px;
  }

  button a {
    font-size: 25px;
  }

  .fatos h2 {
    font-size: 45px;
  }

  .fatos p {
    font-size: 25px;
    width: 500px;
  }

  .card1 h2,
  .card2 h2,
  .baoba h2,
  .locais  {
    font-size: 34px;
  }

  .card1 h2 {
    align-self: start;
    margin-left: 40px;
  }

  .card2 h2 {
    align-self: flex-end;
    margin-right: 70px;
  }

  .toggle-btn {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 40px;
  }

  .menos {
    background-color: rgba(0, 0, 0, 0.493);
    font-size: 20px;
    width: 200px;
    height: 40px;
    font-weight: bold;
  }

  .entrada1,
  .entrada2,
  .baoba {
    width: 600px;
    height: auto;
  }

  .entrada1-sobre,
  .entrada2-sobre,
  .baoba-sobre {
    width: 500px;
    height: auto;
    bottom: 30px;
  }

  .entrada1-sobre p,
  .entrada2-sobre p,
  .baoba-sobre p {
    font-size: 20px;
    padding: 25px;
  }

  .entrada1 {
    align-self: start;
    margin-left: 20px;
  }

  .entrada1-sobre {
    align-self: flex-end;
    margin-right: 60px;
  }

  .card1 .menos {
    left: 1100px;
    top: 420px;
  }

  .entrada1-btn {
    left: 400px;
  }

  .entrada2 {
    align-self: flex-end;
    margin-right: 20px;
  }

  .entrada2-sobre {
    align-self: start;
    margin-left: 70px;
    margin-top: 50px;
  }

  .entrada2-btn {
    left: 680px;
  }

  .card2 .menos {
    left: 210px;
    top: 278px;
  }

  .baoba {
    align-self: start;
    margin-left: 20px;
  }

  .baoba-btn {
    left: 400px;
  }

  .baoba-sobre {
    align-self: flex-end;
    margin-right: 60px;
  }

  .card4 .menos  {
    left: 1100px;
    top: 325px;
  }

  .card3 {
    width: 500px;
  }

  .card3:hover {
  gap: 50px;
}

  .card3 li {
    flex: 0 0 300px;
  }

  .card3 li:hover {
  flex: 0 0 450px;
  height: 220px;
}

  .links-f {
    justify-content: center;
    gap: 15px;
  }

}