@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --cor1: #19882c;
  --cor2: #025310;
  --cor3: #00420c;
  --cor4: #003300;
  --cor5: #2e5d2ef2;
  --cor6: #fff5ec;
  --cor7: #a4a2a4;
  --cor8: #0f0028;
  --cor9: #ff4d00;
  --cor10: #000661;
  --cor11: #f3e412;
  --cor12: #2ce238;
  --cor13: #34495e;
  --cor14: #0080ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fff5ec;
  margin: 0;
  overflow-x: hidden;
}

header {
  background-color: var(--cor2);
  background-image: radial-gradient(
    ellipse at center,
    var(--cor1) 1%,
    var(--cor2) 100%
  );
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.logo-titulo {
  display: flex;
  align-items: center;
}

.logo-titulo img {
  width: 20px;
  height: 30px;
  margin-right: 10px;
  margin-top: 20px;
}

.logo-titulo h2 {
  color: white;
  font-size: 18px;
  margin: 0;
  margin-top: 30px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
  width: 140px;
  margin-top: 20px;
}

.search-container .lupa {
  margin-left: -25px;
  color: gray;
  font-size: 18px;
  margin-top: 20px;
}

.links-inferiores {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--cor3);
  padding: 5px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-top: 20px;
}

.links-inferiores a {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.links-inferiores a:last-child::after {
  content: "";
}

.links-inferiores a:hover {
  text-decoration: underline;
}

/* LOCALIZAÇÕES */
.map-container {
  position: relative;
  width: 100%;
  height: 604px;
  overflow: hidden;
  margin-bottom: 20px;
}

.marker {
  position: absolute;
  border-radius: 50%;
  transform: translate(-80%, -50%);
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 10;
  width: 8px;
  height: 8px;
  border: 1px solid #000000;
}

.marker:hover {
  transform: translate(-80%, -50%) scale(1.2);
}

.marker-sala {
  background-color: var(--cor4);
}

.marker-quadra {
  background-color: gray;
}

.marker-refeitorio {
  background-color: orangered;
}

.marker-cantina {
  background-color: orange;
}

.marker-administracao {
  background-color: var(--cor14);
}

.marker-banheiro {
  background-color: khaki;
}

.marker-laboratorio {
  background-color: var(--cor10);
}

.marker-biblioteca {
  background-color: var(--cor11);
}

.marker-auditorio {
  background-color: var(--cor12);
}

.marker-saude {
  background-color: red;
}

/* Controles do mapa */
.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 5px;
  justify-content: center;
}

.control-btn {
  flex: 0 0 calc(27% - 5px);
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  transition: background 0.2s;
  height: 30px;
}

.control-btn:hover {
  background: rgb(245, 245, 245);
}

.reset-btn {
  background: rgba(0, 98, 0, 0.9);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  width: 95px;
  height: 30px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background 0.2s;
}

.reset-btn:hover {
  background: rgba(0, 98, 0, 1);
}

/* Instruções de uso */
.map-instructions {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 11px;
  max-width: 200px;
  z-index: 100;
}

.map-instructions h4 {
  margin: 0 0 5px 0;
  font-size: 12px;
}

.map-instructions ul {
  margin: 0;
  padding-left: 15px;
}

.map-instructions li {
  margin-bottom: 2px;
}

.guia-titulo {
  text-align: center;
  padding: 15px;
  background-color: gray;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1.5px solid black;
}

.guia {
  background-color: white;
  border: 1.5px solid black;
  width: 80%;
  height: auto;
  /* Margem ajustada para não sobrepor o mapa */
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.079),
    -2px -5px 5px rgba(0, 0, 0, 0.039);
}

.guia ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  padding: 20px;
  text-align: left;
  font-weight: 600;
  gap: 10px;
}

.guia-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid black;
  padding: 5px 0;
}

.guia-marker {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.guia-item p {
  margin-left: 2%;
  margin-bottom: 3px;
}
/* MAPA */

main {
  background: var(--cor6);
  padding: 10px;
}

.container {
  position: relative;
  width: 100%;
  min-height: 600px;
  height: 600px;
  transition: transform 0.1s ease-out;
  /* background-image: url("/assets/images/mapa.jpg"); */
  background-color: rgb(255, 244, 224);
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
}

.elemento {
  background-color: rgb(160, 159, 159);
  position: absolute;
  margin: 0;
}

.elementos {
  position: absolute;
  top: 0%;
  left: -9%;
}

/* CORREDORES */

.elemento-1 { width: 5px; height: 370px; left: 270px; top: 150px; }

.elemento-50 { width: 38px; height: 72px; left: 244px; top: 150px; }

.elemento-2 { width: 210px; height: 5px; left: 155px; top: 150px; }

.elemento-3 {width: 210px; height: 5px; left: 155px; top: 80px; }

.elemento-4 { width: 5px; height: 68px; top: 84px; left: 170px; }

.elemento-5 { width: 5px; height: 68px; top: 84px; left: 230px; }

.elemento-6 { width: 5px; height: 68px; top: 84px; left: 290px; }

.elemento-7 { width: 5px; height: 68px; top: 84px; left: 350px; }

.elemento-8 { width: 5px; height: 68px; top: 84px; left: 260px; }

.elemento-9 { width: 5px; height: 32px; left: 263px; top: 12px }

.elemento-10 { width: 30px; height: 43px; left: 245px; top: 42px; }

.elemento-11 { width: 5px; height: 32px; left: 263px; top: 12px; }

.elemento-12 { width: 292px; height: 5px; left: 40px; top: 220px; }

.elemento-13 { width: 136px; height: 5px; left: 197px; top: 298px; }

.elemento-14 { width: 136px; height: 5px; left: 197px; top: 345px; }

.elemento-15 { width: 136px; height: 5px; left: 197px; top: 385px; }

.elemento-16 { width: 136px; height: 5px; left: 197px; top: 410px; }

.elemento-17 { width: 136px; height: 5px; left: 197px; top: 490px; }

.elemento-18 { width: 20px; height: 10px; left: 250px; top: 2px; }

.elemento-20 { width: 63px; height: 5px; left: 270px; top: 520px; }

.elemento-21 { width: 15px; height: 85px; left: 332px; top: 510px; }

.elemento-22 { width: 5px; height: 30px; left: 290px; top: 494px; }

.elemento-23 { width: 5px; height: 30px; left: 320px; top: 494px; }

.elemento-86 { width: 5px; height: 30px; left: 305px; top: 494px; }

.elemento-24 { width: 25px; height: 13px; left: 330px; top: 220px; }

.elemento-26 { width: 5px; height: 24px; left: 350px; top: 230px; }

/*SALAS*/

.elemento-27 { width: 6px; height: 3px; left: 240px; top: 70px; }

.elemento-28 { width: 3px; height: 6px; left: 158px; top: 75px; }

.elemento-29 { width: 3px; height: 6px; left: 168px; top: 75px; }

.elemento-30 { width: 3px; height: 6px; left: 200px; top: 75px; }

.elemento-31 { width: 3px; height: 6px; left: 210px; top: 75px; }

.elemento-32 { width: 3px; height: 6px; left: 290px; top: 75px; }

.elemento-33 { width: 3px; height: 6px; left: 300px; top: 75px; }

.elemento-34 { width: 3px; height: 6px; left: 340px; top: 75px; }

.elemento-35 { width: 3px; height: 6px; left: 350px; top: 75px; }

.elemento-36 { width: 6px; height: 3px; left: 174px; top: 135px; }

.elemento-37 { width: 6px; height: 3px; left: 225px; top: 135px; }

.elemento-38 { width: 6px; height: 3px; left: 225px; top: 95px; }

.elemento-39 { width: 6px; height: 3px; left: 294px; top: 95px; }

.elemento-40 { width: 6px; height: 3px; left: 294px; top: 110px; }

.elemento-41 { width: 6px; height: 3px; left: 294px; top: 125px; }

.elemento-42 { width: 6px; height: 3px; left: 345px; top: 95px; }

.elemento-43 { width: 6px; height: 3px; left: 345px; top: 110px; }

.elemento-44 { width: 6px; height: 3px; left: 345px; top: 125px; }

.elemento-45 { width: 3px; height: 6px; left: 165px; top: 154px; }

.elemento-46 { width: 3px; height: 6px; left: 175px; top: 154px; }

.elemento-47 { width: 3px; height: 6px; left: 195px; top: 154px; }

.elemento-48 { width: 3px; height: 6px; left: 212px; top: 154px; }

.elemento-49 { width: 3px; height: 6px; left: 231px; top: 154px; }

.elemento-51 { width: 3px; height: 6px; left: 291px; top: 154px; }

.elemento-52 { width: 3px; height: 6px; left: 305px; top: 154px; }

.elemento-53 { width: 3px; height: 6px; left: 338px; top: 154px; }

.elemento-54 { width: 3px; height: 6px; left: 352px; top: 154px; }

.elemento-55 { width: 3px; height: 6px; left: 70px; top: 215px; }

.elemento-56 { width: 3px; height: 6px; left: 85px; top: 215px; }

.elemento-57 { width: 3px; height: 6px; left: 205px; top: 224px; }

.elemento-58 { width: 3px; height: 6px; left: 218px; top: 224px; }

.elemento-59 { width: 3px; height: 6px; left: 240px; top: 224px; }

.elemento-60 { width: 3px; height: 6px; left: 280px; top: 224px; }

.elemento-61 { width: 3px; height: 6px; left: 300px; top: 224px; }

.elemento-62 { width: 3px; height: 6px; left: 310px; top: 224px; }

.elemento-63 { width: 6px; height: 3px; left: 274px; top: 290px; }

.elemento-64 { width: 3px; height: 6px; left: 300px; top: 293px; }

.elemento-65 { width: 3px; height: 6px; left: 315px; top: 293px; }

.elemento-66 { width: 3px; height: 6px; left: 240px; top: 293px; }

.elemento-25 { width: 3px; height: 6px; left: 218px; top: 293px; }

.elemento-67 { width: 3px; height: 6px; left: 205px; top: 293px; }

.elemento-68 { width: 3px; height: 6px; left: 210px; top: 340px; }

.elemento-69 { width: 3px; height: 6px; left: 220px; top: 340px; }

.elemento-93 { width: 3px; height: 6px; left: 297px; top: 340px; }

.elemento-70 { width: 3px; height: 6px; left: 310px; top: 340px; }

.elemento-71 { width: 3px; height: 6px; left: 225px; top: 380px; }

.elemento-72 { width: 3px; height: 6px; left: 240px; top: 380px; }

.elemento-73 { width: 3px; height: 6px; left: 283px; top: 380px; }

.elemento-74 { width: 3px; height: 6px; left: 310px; top: 380px; }

.elemento-87 { width: 3px; height: 6px; left: 320px; top: 380px; }

.elemento-75 { width: 3px; height: 6px; left: 220px; top: 413px; }

.elemento-76 { width: 3px; height: 6px; left: 230px; top: 413px; }

.elemento-77 { width: 3px; height: 6px; left: 255px; top: 413px; }

.elemento-78 { width: 3px; height: 6px; left: 285px; top: 413px; }

.elemento-79 { width: 3px; height: 6px; left: 308px; top: 413px; }

.elemento-80 { width: 3px; height: 6px; left: 318px; top: 413px; }

.elemento-94 { width: 6px; height: 3px; left: 274px; top: 470px; }

.elemento-81 { width: 6px; height: 3px; left: 274px; top: 480px; }

.elemento-82 { width: 3px; height: 6px; left: 200px; top: 485px; }

.elemento-83 { width: 3px; height: 6px; left: 225px; top: 485px; }

.elemento-84 { width: 3px; height: 6px; left: 240px; top: 485px; }

.elemento-85 { width: 3px; height: 6px; left: 260px; top: 485px; }

.elemento-92 { width: 3px; height: 6px; left: 318px; top: 485px; }

.elemento-95 { width: 3px; height: 6px; left: 294px; top: 485px; }

.elemento-96 { width: 3px; height: 6px; left: 304px; top: 485px; }

/* SALAS */

.sala-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.sala-info .card .close-btn {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}

.sala-info .card {
  background-color: #f3fbff;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: #333;
}

.sala-info .card .header {
  background-color: var(--cor4);
  color: white;
  text-transform: uppercase;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  position: relative;
}

/* Cores para cada tipo de sala */

.sala-info .card .header.sala {
  background: linear-gradient(90deg, #00cc1b 0%, #015a17 100%);
}

.sala-info .card .header.cantina {
  background: linear-gradient(90deg, #faff6e 0%, #fff200 100%);
  color: black;
}

.sala-info .card .header.cantina .close-btn {
  color: black;
}

.sala-info .card .header.auditorio {
  background: linear-gradient(90deg, #45ff51 0%, #17ac00 100%);
  color: black;
}

.sala-info .card .header.administracao {
  background: linear-gradient(90deg, #0048ff 0%, #002b99 100%);
}

.sala-info .card .header.laboratorio {
  background: linear-gradient(90deg, #0034b7 0%, #001751 100%);
}

.sala-info .card .header.biblioteca {
  background: linear-gradient(90deg, #f3e412 0%, #ffaa00 100%);
  color: #333;
}

.sala-info .card .header.banheiro {
  background: linear-gradient(90deg, #ec00a5 0%, #0011ff 100%);
  color: rgb(255, 255, 255);
}

.sala-info .card .header.banheiro .close-btn {
  color: black;
}

.sala-info .card .header.refeitorio {
  background: linear-gradient(90deg, #ff9900 0%, #ff5100 100%);
}

.sala-info .card .info .status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #606060;
  font-weight: bold;
}

.disp {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.sala-info .card .info .disp-ponto {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #2ce238;
}

.sala-info .card .info .disp-ponto.manutencao {
  background-color: #ffc107;
}

.sala-info .card .info .capacidade {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: black;
}

.sala-info .card .info .capacidade .cap-icon {
  width: 15px;
  height: 15px;
  margin: 10px 5px 5px 0;
}

.sala-info .card .content {
  padding: 20px;
}

.sala-info .card .content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #555;
}

.sala-info .card .content p {
  margin-bottom: 20px;
  font-size: 1em;
  color: #333;
}

.sala-info .card .content .schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.sala-info .card .content .schedule-table th,
.sala-info .card .content .schedule-table td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.sala-info .card .content .schedule-table td {
  font-size: 13px;
}

.sala-info .card .content .schedule-table th:first-child {
  border-top-left-radius: 8px;
}

.sala-info .card .content .schedule-table th:last-child {
  border-top-right-radius: 8px;
}

.sala-info .card .content .schedule-table td:first-child {
  border-bottom-left-radius: 8px;
}

.sala-info .card .content .schedule-table td:last-child {
  border-bottom-right-radius: 8px;
}

.sala-info .card .content .schedule-table thead th {
  background-color: #696969;
  color: rgb(0, 0, 0);
  font-weight: normal;
}

.sala-info .card .content .schedule-table tbody td {
  background-color: #d9d9d9;
}

.sala-info .card .content .schedule-table tbody td:nth-child(2) {
  border-left: 1px solid #606060;
  border-right: 1px solid #606060;
}

/* MEDIA QUERIES */

/** NOTEBOOK **/

@media only screen and (min-width: 992px) {
  .logo-titulo img {
    width: 30px;
    height: 40px;
    margin-top: 15px;
  }

  .logo-titulo h2 {
    font-size: 23px;
    margin-top: 30px;
  }

  .search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }

  .search-container input {
    width: 300px;
    margin-left: 150px;
  }

  .search-container .lupa {
    margin-left: -25px;
  }

  .links-inferiores {
    justify-content: center;
    gap: 100px;
  }

  .links-inferiores a {
    font-size: 15px;
  }

  .controls {
    padding: 10px;
    justify-content: center;
  }

  .control-btn {
    width: 100px;
    flex: none;
  }

  .map-container {
    position: relative;
    overflow: hidden;
  }

  .container {
    position: absolute;
    transform-origin: center center;
  }

  .elementos {
    position: relative;
    left: 32%;
  }

  .marker {
    margin-left: 34.2%;
  }

  .guia {
    width: 60%;
    margin: 30px auto;
  }

  .guia ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
  }
}

