@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --cor0: #fff5ec;
    --cor1: #025310;
    --cor2: #00420c;
    --cor3: #051945;
    --cor4: #000333;
    --cor5: #0032A0;
    --cor6: #0032A0;
    --cor7: #fff5ec;
    --cor8: #C9C2BE;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
}

header {
    background-color: white;
    border-bottom: 2px solid #989898;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
}

.mapa {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.mapa:hover {
    text-decoration: underline;
}

.sair {
    color: rgb(255, 255, 255);
    background-color: #08A400;
    padding: 3px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.sair:hover {
    background-color: #047600;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.logo-titulo img {
    width: 30px;
    height: 40px;
}


.search-container input {
    height: 30px;
    border-radius: 5px;
    border: none;
    width: 140px;
    border: 2px solid #989898;
}

.lupa {
    position: absolute;
    right: 28%;
    top: 4%;
    color: gray;
    font-size: 16px;
}


#salas {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.card .edit-btn {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
}

.card {
    background-color: #F3FBFF;
    border-radius: 10px;
    width: 100%;
    min-width: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.598);
    overflow: hidden;
    color: #333;
}

.card .header {
    background-color: var(--cor4);
    color: white;
    text-transform: uppercase;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    position: relative;
}

/* Cores para cada tipo de sala */

.card .header.sala {
    background: linear-gradient(90deg, #00cc1b 0%, #015a17 100%);
}

.card .header.cantina {
    background: linear-gradient(90deg, #faff6e 0%, #fff200 100%);
    color: black;
}

.card .header.cantina .close-btn {
    color: black;
}

.card .header.auditorio {
    background: linear-gradient(90deg, #45ff51 0%, #17ac00 100%);
    color: black;
}

.card .header.administracao {
    background: linear-gradient(90deg, #0048FF 0%, #002B99 100%);
    font-size: 1.1rem;
}

.card .header.laboratorio {
    background: linear-gradient(90deg, #0034B7 0%, #001751 100%);
}

.card .header.biblioteca {
    background: linear-gradient(90deg, #f3e412 0%, #ffaa00 100%);
    color: #333;
}

.card .header.banheiro {
    background: linear-gradient(90deg, #d4c5ba 0%, #f89a6f 100%);
    color: black;
}

.card .header.refeitorio {
    background: linear-gradient(90deg, #ff9900 0%, #ff5100 100%);
}

.card .header.banheiro .close-btn {
    color: black;
}



.card .info .status {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #606060;
    font-weight: bold;
}

.edit-status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #606060;
    font-weight: bold;
}

.disp {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.disp-ponto {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    background: #ccc;
}

.disp-ponto.disponível {
    background: #4CAF50;
}

.disp-ponto.indisponível {
    background: #F44336;
}

.disp-ponto.em-manutenção {
    background: #f1f436;
}


.card .info .capacidade {
    display: flex;
    align-items: center;
    font-size: .9em;
    color: black;
}

.cap-icon {
    width: 15px;
    height: 15px;
    margin: 10px 5px 5px 0;
}

.card .content {
    padding: 15px;
    text-align: center;
}

.card .content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
    text-align: left;
}

.card .content p {
    margin-bottom: 15px;
    font-size: .9em;
    color: #333;
    text-align: left;
}

.card .content .schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
}

.card .content .schedule-table th,
.card .content .schedule-table td {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
}

.card .content .schedule-table td {
    font-size: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.card .content .schedule-table th:first-child{
    border-top-left-radius: 8px;
}

.card .content .schedule-table th:last-child{
    border-top-right-radius: 8px;
}

.card .content .schedule-table td:first-child {
    border-bottom-left-radius: 8px;
}

.card .content .schedule-table td:last-child {
    border-bottom-right-radius: 8px;
}

.card .content .schedule-table thead th {
    background-color: #696969;
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.card .content .schedule-table tbody td {
    background-color: #D9D9D9;
}

.card .content .schedule-table tbody td:nth-child(2) {
    border-left: 1px solid #606060;
    border-right: 1px solid #606060;
}

.content .editar {
    margin-top: 15px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.content .editar:hover {
    background-color: rgb(81, 81, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.content .editar:disabled {
    display: none;
}




/* EDIÇÃO */
.edit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.edit-card {
    background-color: #F3FBFF;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: #333;
}

.edit-header {
    background-color: var(--cor4);
    text-transform: uppercase;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.edit-header.sala {
    background: linear-gradient(90deg, #00cc1b 0%, #015a17 100%);
}

.edit-header.cantina {
    background: linear-gradient(90deg, #faff6e 0%, #fff200 100%);
    color: black;
}

.edit-header.cantina .close-btn {
    color: black;
}

.edit-header.auditorio {
    background: linear-gradient(90deg, #45ff51 0%, #17ac00 100%);
    color: black;
}

.edit-header.administracao {
    background: linear-gradient(90deg, #0048FF 0%, #002B99 100%);
}

.edit-header.laboratorio {
    background: linear-gradient(90deg, #0034B7 0%, #001751 100%);
}

.edit-header.biblioteca {
    background: linear-gradient(90deg, #f3e412 0%, #ffaa00 100%);
    color: #333;
}

.edit-header.banheiro {
    background: linear-gradient(90deg, #d4c5ba 0%, #f89a6f 100%);
    color: black;
}

.edit-header.refeitorio {
    background: linear-gradient(90deg, #ff9900 0%, #ff5100 100%);
}

.edit-close-btn {
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
}

.edit-tipo {
    background-color: transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.edit-tipo option {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid #606060;
    padding: 5px;
    border-radius: 5px;
    font-size: .425em;
}

.edit-status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #606060;
    font-weight: bold;
}

.edit-capacidae {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: black;
}

.small {
    width: 40px;
    margin-bottom: 10px;
}

.edit-cap-icon {
    width: 15px;
    height: 15px;
    margin: 15px 5px 0 0;
}

.disponibilidade-select {
    width: 100%;
    border-radius: 5px;
    color: black;
    font-size: 15px;
}

.disponibilidade-select option {
    text-align: center;
    font-size: 13px;
}

.edit-content {
    padding: 20px;
}

.edit-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
}

.edit-content .edit-field {
    width: 100%;
    margin-bottom: 15px;
}

td .edit-field{
    text-align: center;
}

td textarea {
    resize: none;
}

.edit-button {
    text-align: center;
    padding-bottom: 15px;
}

.save-button {
    background-color: transparent;
    color: #0b5101;
    border: 1px solid #0b5101;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.save-button:hover {
    background-color: #0b5101;
    color: white;
}



















/* Media Queries */

/** NOTEBOOK **/

@media only screen and (min-width: 992px) {

    .nav {
        margin-top: -38px;
    }

    .logo-titulo img {
        width: 30px;
        height: 40px;
        margin-top: 15px;
    }

    .logo-titulo h2 {
        font-size: 23px;
        margin-top: 30px;
    }

    .search-container {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }

    .search-container input {
        width: 300px;
        margin-left: 150px;
        margin-top: 20px;
    }

    .lupa {
        left: 425px;
    }

    .links {
        position: relative;
        max-width: 100%;
        margin-top: 38px;
    }

    .painel {
        margin-left: 20px;
    }

    .sair {
        margin-right: 20px;
    }

    #salas {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .sala {
        background-color: #0b1d3a;
        width: 400px;
        height: 250px;
        margin: auto;
        border-radius:30px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    }

    .sala img {
        width: 350px;
        height: 170px;
        margin-top: 10px;
        border: 5px solid #fff;
        border-radius: 8px;
    }

    .linha-inferior {
        align-items: center;
        margin-top: 10px;
    }

    .sala button {
        font-size: 15px;
        width: 100px;
        height: 30px;
        margin-left: 30px;
        cursor: pointer;
    }

    .sala h2 {
        margin-right: 30px;
    }

}






























/* #salas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.card .edit-btn {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
}

.card {
    background-color: #F3FBFF;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: #333;
}

.card .header {
    background-color: var(--cor4);
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    position: relative;
}

/* Cores para cada tipo de sala */

/* .card .header.sala {
    background: linear-gradient(90deg, #00cc1b 0%, #015a17 100%);
}

.card .header.cantina {
    background: linear-gradient(90deg, #faff6e 0%, #fff200 100%);
    color: black;
}

.card .header.cantina .close-btn {
    color: black;
}

.card .header.auditorio {
    background: linear-gradient(90deg, #45ff51 0%, #17ac00 100%);
    color: black;
}

.card .header.administracao {
    background: linear-gradient(90deg, #0048FF 0%, #002B99 100%);
}

.card .header.laboratorio {
    background: linear-gradient(90deg, #0034B7 0%, #001751 100%);
}

.card .header.biblioteca {
    background: linear-gradient(90deg, #f3e412 0%, #ffaa00 100%);
    color: #333;
}

.card .header.banheiro {
    background: linear-gradient(90deg, #d4c5ba 0%, #f89a6f 100%);
    color: black;
}

.card .header.refeitorio {
    background: linear-gradient(90deg, #ff9900 0%, #ff5100 100%);
}

.card .header.banheiro .close-btn {
    color: black;
}



.card .info .status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #606060;
    font-weight: bold;
}

.edit-status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #606060;
    font-weight: bold;
}

.disp {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.disp-ponto {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: #2ce238;
}

.card .info .disp-ponto.manutencao {
    background-color: #ffc107
}

.card .info .capacidade {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: black;
}

.cap-icon {
    width: 15px;
    height: 15px;
    margin: 10px 5px 5px 0;
}

.card .content {
    padding: 20px;
}

.card .content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
}

.card .content p {
    margin-bottom: 20px;
    font-size: 1em;
    color: #333;
}

.card .content .schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.card .content .schedule-table th,
.card .content .schedule-table td {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.card .content .schedule-table td {
    font-size: 13px;
}

.card .content .schedule-table th:first-child{
    border-top-left-radius: 8px;
}

.card .content .schedule-table th:last-child{
    border-top-right-radius: 8px;
}

.card .content .schedule-table td:first-child {
    border-bottom-left-radius: 8px;
}

.card .content .schedule-table td:last-child {
    border-bottom-right-radius: 8px;
}

.card .content .schedule-table thead th {
    background-color: #696969;
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.card .content .schedule-table tbody td {
    background-color: #D9D9D9;
}

.card .content .schedule-table tbody td:nth-child(2) {
    border-left: 1px solid #606060;
    border-right: 1px solid #606060;
} */ 